[submodule "builddefs/qmake"]
	path = builddefs/qmake
	url = https://github.com/SolarFramework/builddefs.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://github.com/SolarFramework/eigen.git
