*.user

*-Debug

*-Release

*.vcxproj*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#others

*.rej
*.stash
*.rc
*.res
*.exp
*.ilk
*.pdb
*.*pre1
*.autosave
*.project

# Visual Studio files
.vs*
x64*

*.txt
*.log
*.tlog
*.TMP
*.tmp
*.sln

# documentation
doc/
doxygen/


.git Merge
SolARWrapper - Raccourci.lnk
bcom-SolARFramework.pc
SolARFramework-InstallDependencies_debug.bat
SolARFramework-Installvclib-debug.bat
SolARFramework-Installvclib-release.bat
SolARFramework-InstallDependencies_release.bat
